.hero {
  padding: 60px 0;
}

.hero__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.hero__desc {

}

.hero__title {
  margin-bottom: 24px;
}



.hero__text {
  margin-bottom: 40px;
}




.hero__form {
}

.hero__picture {
}

.hero__picture-img {
}